<section class="footer__newsletter">
    <div class="container content-wrapper">
        <div class="row">
            <div class="col-lg-12 text--center">
                <h2>{{ options.newsletter_title }}</h2>
                {% filter shortcodes %}
                    [gravityform id="{{ options.newsletter_id }}" title="false" description="false" ajax="true" tabindex="20"]
                {% endfilter %}
            </div>
        </div>
    </div>
</section>

<section class="footer__partners">
    <div class="container">
        <div class="row">
            <div class="col-12 partners__wrapper">
                {% set partners = options.footer_partners %}
                {% for partner in partners %}
                {% set logo = Image(partner.logo).src %}
                <img class="lazyload movie__logo"
                data-srcset="{{ logo | resize(50,0) | relative }} 50w,{{ logo | resize(100,0) | relative }} 100w,{{ logo | resize(200,0) | relative }} 200w,{{ logo | resize(300,0) | relative }} 300w,{{ logo|resize(400,0) | relative }} 400w,{{ logo|resize(500,0) | relative }} 500w"
                height="75px"
                alt="{{ slide.titre }}">
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="footer__links">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer__copyright">
                <p>Copyright {{ site.title }} {{"now"|date('Y')}}</p>
            </div>
            <div class="col-lg-4 footer__support">
                {% set btn_support = options.btn_support %}
                <div class="btn__wrapper text--center">
                    <a class="btn btn--or" href="{{ btn_support.url }}" target="{{ btn_support.target }}">{{ btn_support.title }}</a>
                </div>
            </div>
            <div class="col-lg-4 footer__social">
                {% set networks = options.social_network %}
                {% for network in networks %}
                {% set icon = Image(network.sn_icon).src %}
                <a class="social--link" href="{{ network.sn_link.url }}" title="{{ network.sn_link.title }}" target="{{ network.sn_link.target }}" rel="nofollow">
                    <img class="lazyload" data-src="{{ icon }}" alt="{{ network.sn_link.title }}">
                </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


