{% set film_slides = page.meta('film_slides') %}

<header class="hero hero__fullheight hero__home hero__slider">
    {% for slide in film_slides %}
        {% set film = slide.movie %}
        {% set id = film.slug|lower %}
        {% set color = film.film_color %}
        {% set movie_bg -%}
        {%- if slide.movie_bg -%}
            {{- Image(slide.movie_bg).src -}}
        {%- else -%}
            {{- Image(film.film_featured_img).src -}}
        {%- endif %}
        {%- endset %}

        <div id="{{ id }}" class="container-fluid {{ id }}" style="background-image:url('{{ movie_bg }}');">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__title image__wrapper">
                        {% set image = Image(film.film_logo).src %}
                        <img class="lazyload movie__image"
                        data-srcset="{{ image | resize(300,0) | relative }} 300w,{{ image | resize(400,0) | relative }} 400w,{{ image | resize(500,0) | relative }} 500w,{{ image | resize(600,0) | relative }} 600w,{{ image|resize(700,0) | relative }} 700w"
                        data-sizes="auto"
                        alt="{{ film.title }}">
                    </div>
                    <div class="movie__date text--center">
                        <h3>{{ slide.movie_date }}</h3>
                    </div>
                    {#
                    <div class="movie__band text--right">
                        <h3 class="h3--alt">{{site.title}}</h3>
                    </div>
                    #}
                    <div class="movie__trailer text--center">
                        {% include 'svg/icon-play.svg' with {size: '60'} %}<span>{{ __('Bande annonce', 'Header') }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</header>

{% block styles %}
<style type="text/css" media="screen">
{% for slide in film_slides %}
    {% set film = slide.movie %}
    {% set id = film.slug|lower %}
    {% set color = film.film_color %}
    .{{id}} svg path {fill:{{color}};}
    .{{id}} .movie__trailer {color:{{color}};}
{% endfor %}
</style>
{% endblock %}
